* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
}

h1, h2{
  font-family: 'Chicle', serif;
}

/* Global button styling */
button {
  border-radius: 10px;
  margin: 5px;
  border:none;
}

/* Nav specific button styles */
.custom-nav-btn{
  background-color:rgba(0, 0, 0, 0.586);
  color:#e24a1f;
  border: 1px solid #b53714;
  overflow: hidden;
  transition: all 0.2s ease-in;
  font-weight: bold;
  
}
.custom-nav-btn:hover {
  background-color: black;
  color: #fbd378;
  border: 1px solid #fbd378;
  box-shadow: 0 0 10px #fbd378, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

body{
  /* background-color: #ffffff */
  background-color: rgb(251, 246, 242);
}
a{
  text-decoration: none;
  color: #F34213
}

a:hover{
  color:rgb(0, 162, 211)
}