* {
  margin: 0;
  padding: 0;
  font-family: 'Taviraj', serif;
  
}

h1{
  font-family: 'Chicle', serif;
}

h2{
  font-family: 'Neuton', serif;
}
/* Global button styling */
button {
  border-radius: 10px;
  margin: 5px;
  border:none;
}

/* Nav specific button styles */
.custom-nav-btn{
  background-color:#f7f0f0;
}
.custom-nav-btn:hover {
  background-color: #FFBE28;
  
}

body{
  background-color: #ffffff
}
a{
  text-decoration: none;
  color: #F34213
}

a:hover{
  color:#006a8a
}