.title-img {
    border-radius: 15px;;
}

.custom-archive-button {
    background-color:white;
    text-decoration:none;
    padding-top: 15px;
}
/* Makes specific text red for flavor */
.flavor-text {
    color:#F34213;
    font-weight: bold
}

.comic-about {
    text-indent: 2rem;
    text-align: justify;
}