.header-div {
    background-image: url('/assets/header-bg.jpg');
    background-color: black;
    background-size: cover;
    padding: 5%;
    padding-top: 2%;
}

.site-logo {
    max-width: 70%;
}

.home-link:hover {
    color:#FFBE28
}